<div style="background-color: #3778c2;" class="p-2 d-flex flex-row justify-content-around text-white" id="<%= dom_id group %>">
 <span><%= link_to "<", groups_path, class: "text-white p-2"%></span>
  <span>
    <strong>Category: </strong>
    <%= group.name %>
  </span>
  <span>
    <strong>Totals: </strong>
    <%= group.total_amount %>
  </span>
</div>
