<h1>Welcome to Your App Name</h1>
<p>A simple page with links to sign up and log in.<%= @user %></p>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Log In", new_user_session_path %>
