<div id="<%= dom_id item %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><strong>Name:</strong> <%= item.name %></h5>
    <p class="card-text"><strong>Amount:</strong> <%= item.amount %></p>
    <p class="card-text"><strong>Group:</strong> <%= item.group.name %></p>
  </div>
</div>
