<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_group_item_path %>
